[user]
        name = Dennis Frati
        email = dennis.frati@gmail.com
[core]
	editor = vim
[alias]
	st = status -sb
	lg = log --oneline --graph --decorate --all
[pull]
	rebase = false
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
